.card {
  background-color: hsl(217, 19%, 24%);
  color: hsl(193, 38%, 86%);
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  width: 70%;
  max-width: 500px;
  margin: auto;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.adviceId {
  color: hsl(150, 100%, 66%);
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.quote {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

.divider {
  width: 100%;
  /* width: 100%;
  height: 1px;
  background-color: hsl(217, 19%, 38%);
  margin-bottom: 2rem; */
}

.divider img {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 1rem;
  content: url("/src/assets/vectors/pattern-divider-desktop.svg");
}

.diceButton {
  background-color: hsl(150, 100%, 66%);
  border: none;
  border-radius: 100%;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 15px hsl(150, 100%, 66%);
  transition: box-shadow 0.3s ease;
}

.diceButton:hover {
  box-shadow: 0 0 25px hsl(150, 100%, 70%);
}

.diceIcon {
  width: 1.5rem;
}

@media (max-width: 500px) {
  .adviceId {
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
  }

  .quote {
    font-size: 1.2rem;
  }

  .divider img {
    content: url("/src/assets/vectors/pattern-divider-mobile.svg");
  }
}